/* add color gradient and overlay to image; create shape with clip path polygon */
.header {
    height: 85vh;
    background-image:linear-gradient(
        to right bottom, 
        rgba($color-primary-light,.8),
        rgba($color-primary-dark,.8)),
    url(../img/profile-cropped.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;

    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    @media  only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // safari 
            only screen and (min-width: 125em) { // dots per inch; ',' is an 'or'
        background-image:linear-gradient(
            to right bottom, 
            rgba($color-primary-light,.8),
            rgba($color-primary-dark,.8)),
        url(../img/profile-cropped.jpg);
    } 

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 1rem;
        left: 2rem;
        height: 8rem;
        transition: transform .3s;
        
        &:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }
    &__logo {
        height: inherit;
        font-size: 6rem;
        color: $color-white;
    }
    &__text-box {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); /* relative to element */
    }
}