/* add color gradient and overlay to image; create shape with clip path polygon */
.header {
    height: 85vh;
    background-image:linear-gradient(
        to right bottom, 
        rgba($color-primary-light,.8),
        rgba($color-primary-dark,.8)),
    url(../img/profile3.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;

    &__art {
        height:85vh;
        background-image:linear-gradient(
            to right bottom, 
            rgba($color-primary-light,.8),
            rgba($color-primary-dark,.8)),
        url(../img/david-painting-BW.jpg);
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;        
    }

    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        height: 95vh;
    }

    @media  only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // safari 
            only screen and (min-width: 125em) { // dots per inch; ',' is an 'or'
        background-image:linear-gradient(
            to right bottom, 
            rgba($color-primary-light,.8),
            rgba($color-primary-dark,.8)),
        url(../img/profile3.jpg);
    } 
    @include respond(tab-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 1rem;
        left: 2rem;
        height: 8rem;
        transition: transform .3s;
        
        a:link, a:visited, a:active {
            text-decoration: none;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }
    &__logo {
        height: inherit;
        font-size: 6rem;
        color: $color-white;
    }
    &__text-box {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); /* relative to element */

        & > .heading-primary--sub {
            display: block;
        }
        & > #currentProfile, #otherProfile, #otherProfile--dev {
            display: inline-block;
            @include respond(tab-port) {
                display: block;
            }
            @include respond(phone) {
                display: block;
            }
        }
    }
}
#otherProfile {
    transition: all .8s;
    &:hover {
        cursor: pointer;
        transform: scale(1.5) translateY(-.4rem) translateX(1.2rem);
    }
}
#otherProfile--dev {
    transition: all .8s;
    &:hover {
        cursor: pointer;
        transform: scale(1.6) translateY(-.3rem) translateX(-4.2rem);
    }
}