// COLORS
$color-primary: #1c95c5;
$color-primary-light: #70c2e2;
$color-primary-dark: #10536d;

$color-secondary:#4562e4;
$color-secondary-light: #7f9cec;
$color-secondary-dark: #2c48e7;

$color-tertiary-light: #33eca5;
$color-tertiary-dark: #138a5c;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;


$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;