.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0 28rem;
    margin-top: -35vh;
    margin-bottom: -28vh;

    @include respond (tab-port) {
        padding: 20rem 0;
    }
}
.section-portfolio {
    padding: 30rem 5rem 20rem;
    background-image:linear-gradient(
        to right bottom, 
        rgba($color-primary-light,.8),
        rgba($color-primary-dark,.8)),
    url(../img/nat-4.jpg);
    background-size: cover;

    margin-top: -20rem;
    margin-bottom: 0rem;


    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 25vh, 100% 0, 100% 85%, 0 100%);
        height: 100%;
    }

    @media  only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // safari 
            only screen and (min-width: 125em) { // dots per inch; ',' is an 'or'
        background-image:linear-gradient(
            to right bottom, 
            rgba($color-primary-light,.8),
            rgba($color-primary-dark,.8)),
        url(../img/profile-cropped.jpg);
    } 

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &--2d {
        @extend .section-portfolio;
        background-image:linear-gradient(
            to right bottom, 
            rgba($color-secondary-light,.8),
            rgba($color-secondary-dark,.8)),
        url(../img/nat-4.jpg);
    }
    &--3d {
        position: relative;
        padding: 25rem 1rem 20rem;
        text-align: center;
        margin-top: -20rem;

        @include respond (tab-port) {
            padding: 20rem 0;
        }
        &__video {
            margin: 5rem auto;
        }
    }
    &--web {
        @extend .section-portfolio;
        position: relative;
        padding: 25rem 1rem 20rem;
        text-align: center;
        margin-top: -20rem;

        @include respond (tab-port) {
            padding: 20rem 0;
        }
        &__video {
            margin: 5rem auto;
        }
    }
    &--unity {
        position: relative;
        padding: 25rem 1rem 20rem;
        text-align: center;
        margin-top: -20rem;

        @include respond (tab-port) {
            padding: 20rem 0;
        }
        &__video {
            margin: 5rem auto;
        }
    }
    &--more {
        @extend .section-portfolio;
        text-align: center;
        @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
            height: 100%;
        }
    
        @media  only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
                only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // safari 
                only screen and (min-width: 125em) { // dots per inch; ',' is an 'or'
            background-image:linear-gradient(
                to right bottom, 
                rgba($color-primary-light,.8),
                rgba($color-primary-dark,.8)),
            url(../img/profile-cropped.jpg);
        } 
    
        @include respond(phone) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        &-items {
            padding: 0 43%;
        }
    }
}
